<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'checkout' %}" method="POST">
        {% csrf_token %}
        <article>
            <label>
                <span>Monsto de $5.00</span>
            </label>
        </article>
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key = "{{ key }}"
        data-image = "https://tinyurl.com/y3zspzmv"
        data-amount = "500"
        data-locale="auto">

    </script>

    </form>   
    <!-- sino sale se debe borrar el </form>    -->
    
</body>
</html>